{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="row">

                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="2">Notifications<a class="pull-right " href=""> </a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Ahmed Liked your <a href="#"> post</a></td>
                            <td><span class="glyphicon glyphicon-thumbs-up pull-right"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Ahmed </a>Add you as a friend</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        <tr>
                            <td>Ahmed gived you Zaghruta</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>


                        <tr>
                            <td>Ahmed Liked your <a href="#"> post</a></td>
                            <td><span class="glyphicon glyphicon-thumbs-up pull-right"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Ahmed </a>Add you as a friend</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        <tr>
                            <td>Ahmed gived you Zaghruta</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>

                        <tr>
                            <td>Ahmed Liked your <a href="#"> post</a></td>
                            <td><span class="glyphicon glyphicon-thumbs-up pull-right"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Ahmed </a>Add you as a friend</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        <tr>
                            <td>Ahmed gived you Zaghruta</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        <tr>
                            <td>Ahmed Liked your <a href="#"> post</a></td>
                            <td><span class="glyphicon glyphicon-thumbs-up pull-right"></span></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Ahmed </a>Add you as a friend</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        <tr>
                            <td>Ahmed gived you Zaghruta</td>
                            <td><span class="glyphicon glyphicon-user pull-right"></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}