{% extends "@ZghFE/layout.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}
{% block title %}Photo | Zaghruta{% endblock title %}

{% block content %}

    <div class="container">
        {% block leftContent %}
            <div class="photo col-md-9 col-md-offset-3 center">
                {{ include("@ZghFE/Default/photo_content.html.twig", {"user": user,"photo": photo, "is_popup": false}) }}
            </div>

        {% endblock leftContent %}

        {% block rightContent %}{% endblock rightContent %}

    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}