/web/uploads
/web/bundles/
/web/js
/web/css
/web/media
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
/.svn/
mailresult
mail_error
/app/spool
