{% for user in users %}
<div class="col-md-4 col-sm-6 col-xs-6">
    <div class="thumbnail">
        <a href="{{ url("zgh_fe.user_profile.index", {"id": user.id }) }}"><img src="{{ user.profilePhoto.getThumbWebPath() ? asset(user.profilePhoto.getThumbWebPath()) : asset("bundles/zghfe/img/thumb.jpg") }}" class="img-responsive" alt="Responsive image"></a>

        <div class="caption">
        <h4>{{ user.fullname }}</h4>
        </div>
    </div>
</div>
{% endfor %}