<form action="{{ search_url }}" method="get">
    <div class="col-md-6 col-sm-8 search-box">
        <div class="mainSearch input-group">
            <div class="input-group-btn cat_ddl_btn" style="display:none;">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tags <span
                            class="caret"></span></button>
                <ul class="dropdown-menu">
                        <li><a href="#" class="searchOption searchOptionProd" data-cat="all"><i class="icon-list-alt"></i>Everything</a></li>
                        <li class="divider"></li>
                    {% for tag in tags %}
                        <li>
                            <a href="#" class="searchOption searchOptionProd" data-cat="{{ tag.nameSlug }}"><i class="iconMenu pull-left"></i>{{ tag.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /btn-group -->
            <input type="hidden" name="category" class="category_data" value="all"/>
            <input type="text" name="q" class="form-control custFc search_text searchTextAjax"
                   value="{{ app.request.get("q") }}" placeholder="Search for your things">
            <a href="#" class="search-addon input-group-addon custAncor doSearch"></a>
        </div>
    </div>
</form>