{% block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="col-md-4 wishListName">
                {{- form_widget(child) -}}
                {{- form_label(child) -}}
            </div>
        {% endfor -%}
    </div>
{% endblock choice_widget_expanded %}