{% extends app.request.xmlHttpRequest or init_partial is defined ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
    {% if user.id == app.user.id %}
        <div class="row search-Results">

            <div class="col-sm-3">
                <button data-target="#addNewListPopup" data-toggle="modal" type="button"
                        class="btn btn-primary btn-wide">
                    <span class="glyphicon glyphicon-plus"></span> Add new list
                </button>
            </div>

        </div>
    {% endif %}
    <div class="row wishlists_content_list">
        {{ include("@ZghFE/Partial/wishlists/user_profile_wishlist_list.html.twig", { wishlists: wishlists }) }}
    </div>
    <div id="addNewListPopup" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
         class="modal fade in">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modalHeader">
                    <button type="button" class="close modalClose" data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add List</h4>
                </div>
                <div class="form_wrapper">
                    {{ include("@ZghFE/Partial/wishlists/wishlist_add_widget.html.twig", {"form": wishlist_form, "post_url": url("zgh_fe.wishlist.new", {"id": app.user.id })}) }}
                </div>
                {#</form>#}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock leftContent %}