{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
<div id="c_wishlist">
    <!-- GridView-->

    <div id="wishlists_list">
        {{ include("@ZghFE/Partial/wishlists/user_profile_wishlist_content.html.twig", {"user": user, "wishlists": user.wishlists, "init_partial": true}) }}
        {#{{ render_esi(controller("ZghFEBundle:Wishlist:getWishlistPartialContent", {"id": user.id})) }}#}
    </div>
</div>


{% endblock %}