<form role="form" class="form-horizontal">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modalHeader">
                <button type="button" class="close modalClose" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Add Album</h4>
            </div>
            <div class="modal-body">
                <div class="form-group formGroup">
                    <label class="col-sm-3 control-label">Album Name</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="album_name" placeholder="Album Name"/>

                        <div class="error"></div>
                    </div>
                </div>

                <div class="form-group formGroup">
                    <label class="col-sm-3 control-label">Album Info</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" name="album_info" placeholder="Album Info"></textarea>
                    </div>
                </div>

                <div class="form-group formGroup">
                    <label class="col-sm-3 control-label">Upload Photos</label>

                    <button type="button" class="btn btn-wide btn-primary dropzone_album">
                       <i class="glyphicon glyphicon-camera"></i> Browse
                    </button>
                    <div class="dropzone-previews albums_previews"></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-wide btn-primary album_submitBtn">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</form>

</div>
