<div class="row PhotoCaption">
    <div class="col-md-12">
        {% if photo.caption %}
            <span>{{ photo.caption|converturls }}</span>{% if app.user and app.user.id == photo.user.id %}<a href="#"
                                                                                                                data-url="{{ url("zgh_fe.photos.caption.get_edit", {"id": photo.id }) }}"
                                                                                                                class="edit_caption"
                                                                                                                data-url=""> - Edit</a>{% endif %}
        {% else %}
            {% if app.user and app.user.id == photo.user.id %}<a href="#" class="edit_caption"
                                                                 data-url="{{ url("zgh_fe.photos.caption.get_edit", {"id": photo.id }) }}">
                    Add caption</a>{% endif %}
        {% endif %}
    </div>
</div>
