{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
    <div id="vendTips">
        <div class="row">
            <div class="col-xs-12 search-Results">
                {% if user.id == app.user.id %}
                    <a class="btn btn-primary     btn-wide moveExpTip" href="{{ url("zgh_fe.experience.add", {"id": user.id}) }}">
                        <span class="glyphicon glyphicon-plus"></span> Add your Experince
                    </a>
                {% endif %}

            </div>

        </div>

        <div class="row exp_wrapper">
            {{ include("@ZghFE/Partial/experiences/user_profile_experience_content.html.twig") }}
        </div>

    </div>



{% endblock leftContent %}
