<div class="col-md-9 product">
    <div class="row banner margin">
        <div class="col-md-12">
            <img class="img-responsive" src="{{ product.getThumbWebPath ? asset(product.getThumbWebPath) : asset("bundles/zghfe/img/avatar_wide.jpg") }}">
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        <div class="col-sm-12 btnTitle  margin">
            <button class="btn btn-primary btn-wide btn-block" type="button"> Decorama Co</button>
        </div>
    </div>
    <div class="content_wrapper">
        {% block innerPartial %}
            {{ include("@ZghFE/Partial/products/user_profile_product_content_widget.html.twig", {"product": product, "init": true}) }}
        {% endblock innerPartial %}
    </div>
</div>
