<div class="followFriend  margin">

    <h5 class="pull-left">Friends to follow</h5>
    <a href="userProfile.html" class="pull-right">See all</a><br>
    <hr>
    <div class="clearfix"></div>

    <div class="row media profile fr-suggest ">
        <div class="col-sm-4">
            <a class="pull-left img-circle" href="#">
                <img class="media-object" src="{{ asset("bundles/zghfe/img/img_pr_s.jpg") }}" alt="">
            </a>
        </div>
        <div class="col-sm-8">
            <h3><a href="">Ahmed Mohamed</a></h3>
            <span class="title">Teacher</span>
            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Follow
            </button>
            <a href="#" class="boy"> <span class="glyphicon glyphicon-user glyphicon-user-boy"></span> 60 </a>
        </div>
    </div>
    <hr>

    <div class="row media profile fr-suggest ">
        <div class="col-sm-4">
            <a class="pull-left img-circle" href="#">
                <img class="media-object" src="{{ asset("bundles/zghfe/img/pic-profile-boy.jpg") }}" alt="">
            </a>
        </div>
        <div class="col-sm-8">
            <h3><a href="">Ahmed Mohamed</a></h3>
            <span class="title">Teacher</span>
            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Follow
            </button>
            <a href="#" class="boy"> <span class="glyphicon glyphicon-user glyphicon-user-boy"></span> 60 </a>
        </div>
    </div>
    <hr>

    <div class="row media profile fr-suggest ">
        <div class="col-sm-4">
            <a class="pull-left img-circle" href="#">
                <img class="media-object" src="img/img_pr_s.jpg" alt="">
            </a>
        </div>
        <div class="col-sm-8">
            <h3><a href="">Ahmed Mohamed</a></h3>
            <span class="title">Teacher</span>
            <button type="button" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span> Follow
            </button>
            <a href="#" class="boy"> <span class="glyphicon glyphicon-user glyphicon-user-boy"></span> 60 </a>
        </div>
    </div>


</div>