{% extends app.request.xmlHttpRequest ? '@ZghFE/Default/ajax_layout.html.twig':'@ZghFE/Default/user_index.html.twig' %}

{% block leftContent %}
    <div id="vendTips tips_Experience">
        <div class="row">
            <div class="col-xs-12 search-Results">
                <a class="btn btn-primary btn-wide moveExpTip" href="{{ url("zgh_fe.tip.add", {"id": user.id}) }}">
                    <span class="glyphicon glyphicon-plus"></span> Add Your Tips
                </a>

            </div>

        </div>

        <div class="row tip_wrapper">
            {{ render_esi(controller("ZghFEBundle:Tip:getList", {"id": user.id} ) ) }}
        </div>

    </div>



{% endblock leftContent %}
