{% for tip in tips %}
    <div class="col-md-4 col-xs-6">
        <div class="thumbnail">
            <a href="{{ url("zgh_fe.tip.content", {"id": user.id, "tip_id": tip.id }) }}"><img alt="Responsive image"
                                                                                               class="img-responsive"
                                                                                               src="{{ tip.getThumbWebPath ? asset(tip.getThumbWebPath) : asset("bundles/zghfe/img/avatar_wide.jpg") }}"></a>

            <div class="caption">
                <h4>{{ tip.title }}</h4>

                <p>{{ tip.content }}</p>
            </div>
        </div>
    </div>
{% endfor %}