<div id="Vendor" class="tab-pane active">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"  />
            <div class="form-group">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Username" />
                <div class="validation" style="">No suggestions</div>
            </div>

            <div class="form-group">
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Password"/>
                <div class="validation" style="">No suggestions</div>
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">Remember Me</label>
            </div>

            <div class="row">
                <a type="button" class=" pull-left pinkLink linkForgotPass"
                   data-toggle="modal" data-target="#modalResetPass">Forgot your Password </a>

                <input type="submit" id="_submit" name="_submit" value="Login"  class="btn btn-danger btn-wide pull-right" />
                <a href="#" class=" pull-right">Sign Up</a>
            </div>

        </form>
</div>
