<form action="{{ path }}" method='post'>
    <button class='btn btn-primary btn-wide  btnFollowing {{ classes }}' type='submit'>
        <span class='follow'>
            {#<span class='following'>Following</span>#}
            {#<span class="Unfollow">{{ msg }}</span>#}
            <span class='following following_msg'>{{ msg }}</span>
        </span>
    </button>
</form>