<div class="row loginSwitch">
    <section class="container active" id="intro_description">
        <h3>Zaghruta</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque</p>
    </section>
    <section class="container hide-show" id="sprite-iconPlug">
        <h3>Technology</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque</p>
    </section>
    <section class="container hide-show" id="sprite-iconChair">
        <h3>Furniture</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque</p>
    </section>
    <section class="container hide-show" id="sprite-iconCalendar">
        <h3>Wedding Planner</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque
            elit</p>
    </section>
    <section class="container hide-show" id="sprite-iconHome">
        <h3>Real State</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit.</p>
    </section>
    <section class="container hide-show" id="sprite-iconGirl">
        <h3>Beauty</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit.</p>

    </section>



    <section class="container hide-show" id="sprite-iconAccessories">
        <h3>Accessories</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit.</p>

    </section>


    <section class="container hide-show" id="sprite-iconCar">
        <h3>Limo</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit.</p>

    </section>

    <section class="container hide-show" id="sprite-iconFashion">
        <h3>Fashon</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit.</p>

    </section>
    <section class="container hide-show" id="sprite-iconPhotographers">
        <h3>Photographers</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>

    </section>
    <section class="container hide-show" id="sprite-iconHotels">
        <h3>Hotels</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>

    </section>
    <section class="container hide-show" id="sprite-iconBouquet">
        <h3>Bouquet</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>

    </section>

    <section class="container hide-show" id="sprite-iconHoneymoon">
        <h3>Honymoon</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>
    </section>
    <section class="container hide-show" id="sprite-iconCakes">
        <h3>Cake</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>
    </section>
    <section class="container hide-show" id="sprite-iconMusic">
        <h3>Music</h3>

        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
            sollicitudin,
            Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non
            neque elit. </p>
    </section>
</div>
