<div class="row loginSwitch">
    <section class="container intro_description active" id="intro_description">

        <p><strong>Get connected to wedding vendors...Get inspired by brides & grooms...Join us for FREE</strong></p>
    </section>
    <section class="container hide-show" id="sprite-iconChair">
        <h3>Furniture</h3>

        <p>Click me to find the furniture that will make your home defines you.</p>
    </section>
    <section class="container hide-show" id="sprite-iconCalendar">
        <h3>Wedding Planners</h3>

        <p>Click me to get in touch with different wedding planners.</p>
    </section>
    <section class="container hide-show" id="sprite-iconGirl">
        <h3>Beauty & Health</h3>

        <p>Click me to choose the beauty experts who can help you get the look of your dreams.</p>

    </section>

    <section class="container hide-show" id="sprite-iconFashion">
        <h3>Fashion</h3>

        <p>Click me to find variety of wedding dresses and tuxedos for every taste.</p>

    </section>
    <section class="container hide-show" id="sprite-iconPhotographers">
        <h3>Photography</h3>

        <p>Click me to find the best photographer who will provide you with memories you will treasure forever.</p>
    </section>
    <section class="container hide-show" id="sprite-iconHotels">
        <h3>Hotels & Venues</h3>

        <p>Click me to view different venues and you will know when you find the right venue for you.</p>
    </section>
    <section class="container hide-show" id="sprite-iconBouquet">
        <h3>Florists</h3>
        <p>Click me to view wedding bouquets, floral decorations and centerpieces.</p>
    </section>
    <section class="container hide-show" id="sprite-iconHoneymoon">
        <h3>Honeymoons</h3>

        <p>Click me to view different Travel Agencies that can help you plan your honeymoon.</p>
    </section>
    <section class="container hide-show" id="sprite-iconCakes">
        <h3>Cakes & Catering</h3>

        <p>Click me to view variety of wedding caterers and choose the best for your own taste.</p>
    </section>
    <section class="container hide-show" id="sprite-iconMusic">
        <h3>Entertainment</h3>

        <p>Click me to view different wedding entertainers.</p>
    </section>
    <section class="container hide-show" id="sprite-iconAccessories">
        <h3>Jewelry</h3>
        <p>Click me to view variety of jewelry and choose the right style for you.</p>
    </section>
</div>
