<div class="row loginSwitch">
    <section class="container active" id="intro_description">
        <h3>Zaghruta</h3>

        <p>Zaghruta is a social network that seeks to help Brides and Grooms to get
            connected with wedding vendors. Join Zaghruta and make your wedding
            planning a piece of cake.</p>
    </section>
    {#<section class="container hide-show" id="sprite-iconPlug">#}
        {#<h3>Technology</h3>#}

        {#<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean#}
            {#sollicitudin,#}
            {#Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non#}
            {#neque</p>#}
    {#</section>#}
    <section class="container hide-show" id="sprite-iconChair">
        <h3>Furniture</h3>

        <p>Whatever style you are craving for your dream house, click me to find the
            furniture that will make your home defines you.
            If you sell or make furniture, sign up as vendor for free to promote your
            business!</p>
    </section>
    <section class="container hide-show" id="sprite-iconCalendar">
        <h3>Wedding Planner</h3>

        <p>Wedding planners will help you with most of the tasks involved in planning
            your wedding. Click me to get in touch with different wedding planners.
            If you are a wedding planner, sign up as vendor for free to promote your
            business!</p>
    </section>
    {#<section class="container hide-show" id="sprite-iconHome">#}
        {#<h3>Real State</h3>#}

        {#<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean#}
            {#sollicitudin,#}
            {#Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non#}
            {#neque elit.</p>#}
    {#</section>#}
    <section class="container hide-show" id="sprite-iconGirl">
        <h3>Beauty</h3>

        <p>Who doesn’t want to look the most beautiful at her wedding?! Click me to
            choose the Makeup Artists, Hair Stylists and Beauty Centers who can help you
            get the look of your dreams.
            If you are a Makeup Artist, Hair Stylist or have
            vendor for free to promote your business!</p>

    </section>



    {#<section class="container hide-show" id="sprite-iconAccessories">#}
        {#<h3>Accessories</h3>#}

        {#<p>Need to get desc</p>#}

    {#</section>#}


    {#<section class="container hide-show" id="sprite-iconCar">#}
        {#<h3>Limo</h3>#}

        {#<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean#}
            {#sollicitudin,#}
            {#Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non#}
            {#neque elit.</p>#}

    {#</section>#}

    <section class="container hide-show" id="sprite-iconFashion">
        <h3>Fashion</h3>

        <p>Because everyone wants to look stunning at their wedding! Click me to find
            variety of wedding dresses and tuxedos for every taste.
            If you are a fashion designer/vendor. Sign up as vendor for free to promote
            your business!</p>

    </section>
    <section class="container hide-show" id="sprite-iconPhotographers">
        <h3>Photography</h3>

        <p>Click me to find the best photographer who will provide you with memories
            you will treasure forever.
            If you are a photographer, sign up as vendor for free to promote your
            business!</p>

    </section>
    <section class="container hide-show" id="sprite-iconHotels">
        <h3>Hotels</h3>

        <p>Wedding venue should be the magical place that you are willing to plan your
            whole event around. Click me to view different venues and you will know
            when you find the right venue for you.
            If you offer a wedding venue, sign up as vendor for free to promote your
            business!</p>

    </section>
    {#<section class="container hide-show" id="sprite-iconBouquet">#}
        {#<h3>Bouquet</h3>#}

        {#<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean#}
            {#sollicitudin,#}
            {#Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non#}
            {#neque elit. </p>#}

    {#</section>#}

    <section class="container hide-show" id="sprite-iconHoneymoon">
        <h3>Honymoon</h3>

        <p>Your honeymoon should be the most amazing travel experience of your
            lifetime together. Click me to view different Travel Agencies that can help you
            plan your honeymoon.
            If you are a Travel Agency, sign up as vendor for free to promote your
            business!</p>
    </section>
    <section class="container hide-show" id="sprite-iconCakes">
        <h3>Cake</h3>

        <p>Click me to view variety of wedding caterers and choose the best for your
            own taste.
            If you are a caterer, sign up as vendor for free to promote your business!</p>
    </section>
    {#<section class="container hide-show" id="sprite-iconMusic">#}
        {#<h3>Music</h3>#}

        {#<p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean#}
            {#sollicitudin,#}
            {#Morbi accumsan ipsum velit. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non#}
            {#neque elit. </p>#}
    {#</section>#}
</div>
