<ul class="ProfileList">
    {% if likes|length > 0 %}
        {% for like in likes %}
            <li>
                <a class="pull-left" href="{{ url("zgh_fe.user_profile.index",{"id": like.user.id}) }}">
                    <div class="imgProfileList">
                        <img alt=""
                             src="{{ like.user.profilePhoto ?  asset(like.user.profilePhoto.getThumbWebPath) : ("ROLE_FACEBOOK" in like.user.roles ? 'https://graph.facebook.com/'~like.user.facebookId~'/picture?width=125&height=125' : "#") }}"/>
                    </div>

                    <span>{{ like.user.fullname }}</span>
                </a>
                {{ renderFollow(like.user, "pull-right") }}
            </li>
        {% endfor %}
    {% else %}
        No one has liked this post yet
    {% endif %}
</ul>
