{% extends "@ZghFE/layout_security.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="mainContent">
        {{ getCategoriesButtons()|raw }}

        {% block innerContent %}
            <div class="BGlogin img-responsive visible-lg" style="display: none !important;"></div>
            <section class="container">
                <div class="control-group">&nbsp;</div>
                <div class="row">
                    <div class="signBox  col-md-6">

                        <ul class="nav nav-tabs nav-login" id="loginTabs">
                            <li class="active"><a href="">Register {{ app.request.get("type")|capitalize }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="register_user" class="tab-pane active">
                                {% block fos_user_content %}
                                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
                                {% endblock fos_user_content %}


                            </div>
                            <div id="Vendor" class="tab-pane">


                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </section>
        {% endblock innerContent %}

    </div>

{% endblock content %}
