{% extends "@ZghFE/layout_security.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Register | Zaghruta{% endblock title %}

{% block content %}
<div class="mainContent">
    <div>
        <div class="loginBG img-responsive visible-lg"></div>
        <div class="iconGroup img-responsive visible-lg">
            <div style="position: relative">
                <a href="#" class="sprite-iconPlug"></a>
                <a href="#" class="sprite-iconChair"></a>
                <a href="#" class="sprite-iconCalendar"></a>
                <a href="#" class="sprite-iconHome"></a>
                <a href="#" class="sprite-iconGirl"></a>
                <a href="#" class="sprite-iconAccessories"></a>
                <a href="#" class="sprite-iconFashion"></a>
                <a href="#" class="sprite-iconPhotographers"></a>
                <a href="#" class="sprite-iconHotels"></a>
                <a href="#" class="sprite-iconBouquet"></a>
                <a href="#" class="sprite-iconCar"></a>
                <a href="#" class="sprite-iconHoneymoon"></a>
                <a href="#" class="sprite-iconCakes"></a>
                <a href="#" class="sprite-iconMusic"></a>
            </div>
        </div>
    </div>
    {% block innerContent %}
    <div class="BGlogin img-responsive visible-lg" style="display: none !important;"></div>
    <section class="container">
        <div class="control-group">&nbsp;</div>
        <div class="row">
            <div class="signBox  col-md-6">

                <ul class="nav nav-tabs nav-login" id="loginTabs">
                    <li class="active"><a href="">Sign Up {{ app.request.get("type")|capitalize }}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="register_user" class="tab-pane active">
                        {% block fos_user_content %}
                            {% include "ZghFEBundle:Registration:register_content.html.twig" %}
                        {% endblock fos_user_content %}

                    </div>
                    <div id="Vendor" class="tab-pane">

                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    {% endblock innerContent %}

</div>

{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {

            $(".register_form").validate({
                rules: {
                    "fos_user_registration_form[email]": {
                        required: true,
                        email: true
                    },
                    "company_name": {
                        required: true
                    },
                    "fos_user_registration_form[plainPassword][first]": {
                        required: true,
                        minlength: 6,
                        pattern: /^\S*$/
                    },
                    "fos_user_registration_form[plainPassword][second]": {
                        required: true,
                        equalTo: "[name='fos_user_registration_form[plainPassword][first]']"
                    }
                },
                messages: {
                    "fos_user_registration_form[email]": {
                        required: "Email is required",
                        email: "Wrong E-mail Format"
                    },
                    "fos_user_registration_form[plainPassword][first]": {
                        required: "Password is required",
                        pattern: "Should not contain spaces"
                    },
                    "fos_user_registration_form[plainPassword][second]":{
                        required: "Confirm password is required",
                        equalTo: "Password confirmation doesn't match"
                    }
                },
                submitHandler: function(form){
                    form.submit();
                }
            });
        });
    </script>
{% endblock javascripts  %}